email-validator==1.1.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-Migrate==2.7.0
flask-mongoengine==1.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
gunicorn==20.0.4
mongoengine==0.23.0
pandas==0.25.3
pymongo==3.11.3
python-decouple==3.4
Werkzeug==1.0.1
WTForms==2.3.3
jinja2==2.10.1
MarkupSafe==1.1.1
alembic==1.5.6
itsdangerous==1.1.0
arcgis==1.8.0
pyairtable==1.2.0