{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
label {font-weight: 600;}
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!-- Button trigger modal -->
            <a class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#uploadGuestModal">Upload Guest List</a>
            <a class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#deleteGuestModal">Delete Guest List</a>
            <a class="open-editButton btn btn-sm btn-neutral" data-toggle="modal" data-target="#editTemplateMessageModal">Edit Template Message</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Upload Modal -->
  <div class="modal fade" id="uploadGuestModal" tabindex="-1" role="dialog" aria-labelledby="uploadGuestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadGuestModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="uploadGuest" name="fileinfo">
          <div class="modal-body">
            Upload Guest List CSV File
          </div>
          <input type="file" name="guestFile" class="form-control-file border">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="uploadButton">Upload</button>
          </div>
          </form>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteGuestModal" tabindex="-1" role="dialog" aria-labelledby="deleteGuestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteGuestModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="deleteGuest" name="fileinfo">
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" id="deleteButton">Delete</button>
          </div>
          </form>
      </div>
    </div>
  </div>

  <!-- Edit Template Modal -->
  <div class="modal fade" id="editTemplateMessageModal" tabindex="-1" role="dialog" aria-labelledby="editTemplateMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTemplateMessageModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editTemplateMessage">
          <div class="modal-body">
            <div class="form-group row">
              <label for="messageForm">Message:</label>
              <textarea class="form-control" id="templateMessageForm"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info" id="editButton">Edit</button>
          </div>
          </form>
      </div>
    </div>
  </div>

<!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Guest table</h3>
          </div>
          <!-- Filter Query -->
          <div class="card-header">

            <form class="form-inline" id="formFilter" action="{{ url_for('home_blueprint.get_data', page=1, group=group) }}">
              <div class="form-group mb-2">
                <label class="form-control-plaintext">Filter By Group </label>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input type="search" id="form1" class="form-control" placeholder="{{ group }}" name="group" aria-label="Search" />
              </div>
              <a href="{{ url_for('home_blueprint.get_data', page=1)}}"><u>clear filter</u></a>
            </form>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="budget">Invitation Code</th>
                  <th scope="col" class="sort" data-sort="name">Full Name</th>
                  <th scope="col" class="sort" data-sort="budget">Group</th>
                  <th scope="col" class="sort" data-sort="budget">Phone</th>
                  <th scope="col" class="sort" data-sort="budget">Share Invitation</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for person in guest.items %}
                <tr>
                  <td>{{ person.invitation_code }}</td>
                  <td>{{ person.name }}</td>
                  <td>{{ person.group }}</td>
                  <td>{{ person.phone }}</td>
                  <td> <a class="open-shareButton btn btn-sm btn-neutral" data-target="#inviteGuestModal"
                          data-guest="{{ person.name }}" data-phone="{{ person.phone }}" data-code="{{ person.invitation_code }}"
                          data-toggle="modal" id="inviteButton">Invite Via WA</a> </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>

            <!-- Invite Modal -->
            <div class="modal fade" id="inviteGuestModal" tabindex="-1" role="dialog" aria-labelledby="inviteGuestModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="inviteGuestModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form id="inviteGuest">
                    <div class="modal-body">
                      <div class="form-group row">
                        <label for="phoneTemplate">Phone Number:</label>
                        <div class="col-sm-10">
                          <span class="form-control-plaintext" id="phoneTemplate" style="padding: 0"></span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="messageForm">Message:</label>
                        <textarea class="form-control" id="messageForm"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-info" id="shareButton">Share</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>

          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              {# Macro for creating navigation links #}
                {% macro render_navigation(pagination, endpoint, filter) %}
                  <ul class="pagination justify-content-end mb-0">
                  {% for page in pagination.iter_pages() %}
                    {% if page %}
                      {% if page != pagination.page %}
                        <li class="page-item">
                          <a class="page-link" href="{{ url_for(endpoint, page=page, group=filter) }}">{{ page }}</a>
                        </li>
                      {% else %}
                        <li class="page-item active">
                          <a class="page-link">{{ page }}</a>
                        </li>
                      {% endif %}
                    {% else %}
                      <span class=ellipsis>…</span>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {% endmacro %}

                {{ render_navigation(guest, 'home_blueprint.get_data', group) }}
            </nav>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <!-- JQuery -->
    <script src="https://sanifalahwedding.github.io/public/js/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script type="text/javascript" src="/static/assets/js/modal-helper.js"></script>

{% endblock javascripts %}
